body {
  margin: 0;
  padding: 0;
  font-family: 'Coda', cursive, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  display: flex;
  flex-flow: column wrap;
}

 #map {
  position: absolute;
  top: 0%;
  bottom: 0;
  width: 85%;
  margin-left: 15%;
  margin-right: 0;
}

.mapboxgl-marker:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#sidebar {
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
}

.search-bar {
  position: relative;
  margin: 10px;
  height: 10px;
  width: 70%;
  padding: 10px 10px 10px 30px;
  font-size: 1em;
}

.button {
  margin-left: 15px;
}
