body {
  margin: 0;
  padding: 0;
  font-family: 'Coda', cursive, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

#map {
  position: absolute;
  height: 100%;
  top: 0%;
  bottom: 0;
  width: 80%;
  margin-left: 20%;
  margin-right: 0;
}

.mapboxgl-marker:hover {
  opacity: 0.7;
  cursor: pointer;
}

.mapboxgl-popup {
  width: 250px;
}

.mapboxgl-popup-content {
  font-family: 'Coda', cursive, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#sidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
}

.search-bar {
  position: relative;
  margin: 10px;
  height: 10px;
  width: 70%;
  padding: 10px 10px 10px 30px;
  border: 0;
  font-size: 1em;
}

/*
Media queries
*/

@media screen and (max-width: 320px){

  #search {
    width: 300px;
  }

  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {

  #search {
    width: 360px;
  }
}
